table {
  width: 100%;
}

tr.element-hover:not(.example-expanded-row):hover {
  background: rgb(191, 190, 190);
}

th.mat-sort-header-sorted {
  color: black;
  align-self: end;
}

.mat-column-action {
  text-align: center;
}

.toCenter {
  margin: 0 auto;
  display: block;
}
